.App {
  text-align: center;
}

.App-header {
  background-color: rgba(255, 102, 0, 0.856);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.comments {
  max-width: 100%;
}